@use "./global";
@use "./heading";
@use "./backgroundStyle.scss";
@use "./theme";

@mixin home-section {
    @include heading.flex-opts(center, center, row);
    font-size: 2.5vh;

    &__content {
        text-align: center;
    }

    &--background {
        @include backgroundStyle.background-design-cubes;
    }
}

@mixin about-section {
    @include heading.flex-opts(center, center, column);
    font-size: theme.$font-default;

    &__content {
        &__para {
            margin-bottom: theme.$pixel-twenty;
            font-size: 2.5vh;
            text-align: center;
            max-width: 65%;
        }

        &__container {
            @include heading.flex-opts(center, center, column);

            & i {
                padding: 15px 0px;
                height: 40px;
            }
        }
    }

    &__nav,
    &__nav:visited {
        color: theme.$col-black;
    }
}

@mixin skills-section {
    @include heading.flex-opts(center, center, column, wrap);
    background-color: #343a40;
    &__container {
        @include heading.flex-opts(center, space-evenly, row, wrap);
        padding: theme.$pixel-thirty;
        @include skills-sub-section(
            theme.$col-white,
            theme.$font-large,
            theme.$col-white,
            theme.$font-default,
            10px,
            theme.$pixel-twenty
        );
    }
}

@mixin skills-sub-section(
    $para-color,
    $para-size,
    $desc-color,
    $desc-size,
    $pad,
    $pad-left
) {
    &__para {
        &--white--large {
            color: $para-color;
            font-size: $para-size;
        }
    }
    &__image {
        @include heading.flex-opts(center, center);
        padding: $pad;
    }

    &__desc {
        color: $desc-color;
        font-size: $desc-size;
        padding-left: $pad-left;
    }
}

@mixin projects-section {
    @include heading.flex-opts(center, center, column);

    &__header {
        font-size: theme.$font-large;
    }

    &__card {
        @include heading.flex-opts(center, space-evenly, row, wrap);

        &__child {
            @include heading.flex-opts(center, center, column);
            padding: theme.$pixel-thirty;

            & img {
                border-radius: theme.$pixel-thirty;
            }

            &__para {
                max-width: 350px;
                text-align: center;
            }

            &__links {
                @include heading.flex-opts(center, center, column);
                &__container {
                    padding-top: theme.$pixel-twenty;
                }

                &--black,
                &--black:visited {
                    color: theme.$col-black;
                }
            }
        }

        @media only screen and (min-width: 768px) {
            &__child {
                @include heading.flex-opts(center, center, row);
                padding: 30px;
                &__links {
                    padding-left: theme.$pixel-twenty;
                }
            }
        }
    }
}

@mixin contact-section {
    min-height: 30vh;
    @include backgroundStyle.background-design-cubes;
    @include heading.flex-opts(center, space-evenly, column);

    &__container {
        @include heading.flex-opts(center, space-evenly);
        width: 100%;

        &__link--black,
        &__link--black:visited {
            color: theme.$col-black;
        }
    }
}
