* {
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

i {
    padding: 40px;
}
