@use "./theme";

@mixin flex-opts($align, $justify, $direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin coloring($color, $background-color) {
    color: $color;
    background-color: $background-color;
}

.header__content {
    @include flex-opts(center, space-between, row, nowrap);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 15px;
    @include coloring(#f8f9fa, #212529);

    &__intro {
        font-size: 2.5vh;
    }

    &__navbar__menu {
        display: none;
        list-style: theme.$val-none;

        &__link--black {
            white-space: nowrap;
            margin: 40px;
            text-decoration: theme.$val-none;
            color: #f8f9fa;
        }

        &__link--black:visited {
            color: #f8f9fa;
        }
    }

    &__container {
        @include flex-opts(flex-end, flex-end, column);
    }

    @media only screen and (min-width: 768px) {
        &__navbar__menu {
            list-style: theme.$val-none;
            @include flex-opts(center, space-between);
        }

        &__hamburger {
            display: theme.$val-none;
        }
    }

    &__navbar__menu.--show {
        @include flex-opts(flex-end, center, column);
        text-align: right;
    }
}

.fa-bars {
    margin-right: 40px;
    color: #f8f9fa;
}
