@use "./global";
@use "./heading";
@use "./backgroundStyle.scss";

.header__content__nav-bar__menu {
    display: none;
}

@media only screen and (min-width: 46em) {
    .header__content__nav-bar__menu {
        list-style: none;
        @include heading.flex-opts(center, space-between);
    }
}

.header__content__nav-bar__menu > li > a {
    white-space: nowrap;
    margin: 40px;
}

.section-container {
    min-height: 100vh;
    border: 1px solid black;
}

.home {
    padding-top: 65px;
    @include heading.flex-opts(flex-end, center, column);
    font-size: 2.5vh;
    min-height: 100vh;

    &__content {
        &__header {
            padding-right: 25px;
        }
        &__para {
            padding-right: 25px;
        }
    }
}

.home-background {
    @include backgroundStyle.background-design-cubes;
}

.about {
    padding-top: 65px;
    @include heading.flex-opts(center, center, column);
    font-size: 3vh;
}

.skills {
    @include heading.flex-opts(center, center, column, wrap);
    background-color: #202020;
    &__container {
        @include heading.flex-opts(center, space-evenly, row, wrap);
        padding: 30px;
        &__para {
            color: white;
            font-size: 5vh;
        }

        &__image {
            @include heading.flex-opts(center, center);
            padding: 20px;
        }

        &__desc {
            color: white;
            font-size: 3vh;
            padding-left: 10px;
        }
    }
}
