* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px;
  color: #f8f9fa;
  background-color: #212529;
}
.header__content__intro {
  font-size: 2.5vh;
}
.header__content__navbar__menu {
  display: none;
  list-style: none;
}
.header__content__navbar__menu__link--black {
  white-space: nowrap;
  margin: 40px;
  text-decoration: none;
  color: #f8f9fa;
}
.header__content__navbar__menu__link--black:visited {
  color: #f8f9fa;
}
.header__content__container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .header__content__navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header__content__hamburger {
    display: none;
  }
}
.header__content__navbar__menu.--show {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: right;
}

.fa-bars {
  margin-right: 40px;
  color: #f8f9fa;
}

.section-container {
  min-height: 95vh;
  padding: 50px 0px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2.5vh;
}
.home__content {
  text-align: center;
}
.home--background {
  background-color: #f3f3f3;
  background-image: linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, rgba(255, 255, 255, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(255, 255, 255, 0.4666666667) 75%, rgba(255, 255, 255, 0.4666666667)), linear-gradient(60deg, rgba(255, 255, 255, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(255, 255, 255, 0.4666666667) 75%, rgba(255, 255, 255, 0.4666666667));
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-attachment: fixed;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 3.5vh;
}
.about__content__para {
  margin-bottom: 20px;
  font-size: 2.5vh;
  text-align: center;
  max-width: 65%;
}
.about__content__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.about__content__container i {
  padding: 15px 0px;
  height: 40px;
}
.about__nav, .about__nav:visited {
  color: black;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #343a40;
}
.skills__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.skills__container__para--white--large {
  color: white;
  font-size: 5vh;
}
.skills__container__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}
.skills__container__desc {
  color: white;
  font-size: 3.5vh;
  padding-left: 20px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.projects__header {
  font-size: 5vh;
}
.projects__card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects__card__child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 30px;
}
.projects__card__child img {
  border-radius: 30px;
}
.projects__card__child__para {
  max-width: 350px;
  text-align: center;
}
.projects__card__child__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.projects__card__child__links__container {
  padding-top: 20px;
}
.projects__card__child__links--black, .projects__card__child__links--black:visited {
  color: black;
}
@media only screen and (min-width: 768px) {
  .projects__card__child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .projects__card__child__links {
    padding-left: 20px;
  }
}

.contact {
  min-height: 30vh;
  background-color: #f3f3f3;
  background-image: linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, rgba(255, 255, 255, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(255, 255, 255, 0.4666666667) 75%, rgba(255, 255, 255, 0.4666666667)), linear-gradient(60deg, rgba(255, 255, 255, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(255, 255, 255, 0.4666666667) 75%, rgba(255, 255, 255, 0.4666666667));
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.contact__container__link--black, .contact__container__link--black:visited {
  color: black;
}
